# .coveragerc to control coverage.py
[run]
include =
    */core/*
    /*library/*
    /*media/*
    /*metadata/*
    /*server/*
omit =
    *tests*
    *migrations*
    *settings*
    *wsgi.py
    *manage.py
    *test_*
    *fixtures/*
    *urls.py
    *__init__.py
    *apps.py
